<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1c60a1;"></span>
		<span class="sg-label">$color-brand-blue<br/>#1c60a1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f7af2a;"></span>
		<span class="sg-label">$color-brand-yellow<br/>#f7af2a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">$color-brand-white<br/>#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">$color-brand-black<br/>#333333</span>
	</li>
</ul>
