<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #337ab7;"></span>
		<span class="sg-label">$color-utility-bg-primary<br/>#337ab7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dff0d8;"></span>
		<span class="sg-label">$color-utility-bg-success<br/>#dff0d8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9edf7;"></span>
		<span class="sg-label">$color-utility-bg-info<br/>#d9edf7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fcf8e3;"></span>
		<span class="sg-label">$color-utility-bg-warning<br/>#fcf8e3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2dede;"></span>
		<span class="sg-label">$color-utility-bg-danger<br/>#f2dede</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">$color-utility-bg-muted<br/>#777777</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #337ab7;"></span>
		<span class="sg-label">$color-utility-text-primary<br/>#337ab7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3c763d;"></span>
		<span class="sg-label">$color-utility-text-success<br/>#3c763d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #31708f;"></span>
		<span class="sg-label">$color-utility-text-info<br/>#31708f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8a6d3b;"></span>
		<span class="sg-label">$color-utility-text-warning<br/>#8a6d3b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a94442;"></span>
		<span class="sg-label">$color-utility-text-danger<br/>#a94442</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">$color-utility-text-muted<br/>#777777</span>
	</li>
</ul>
