@import "~bootstrap/scss/bootstrap";
@import "scss/variables.scss";
@import "scss/headings.scss";

html {
    font-size: 10px;
}

body {
    font-family: $font-brand;
    color: $color-brand-black;
    line-height: 1.3em;
    font-size: 1.3em;
}

/**
 * Links
 */
a {
    color: $color-link;
    text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}
