<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1c60a1;"></span>
		<span class="sg-label">#1c60a1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
</ul>
