/*
 * Colors
 */
$color-brand-blue: #1c60a1;
$color-brand-yellow: #f7af2a;
$color-brand-white: #ffffff;
$color-brand-black: #333333;

$color-utility-bg-primary: #337ab7;
$color-utility-bg-success: #dff0d8;
$color-utility-bg-info: #d9edf7;
$color-utility-bg-warning: #fcf8e3;
$color-utility-bg-danger: #f2dede;
$color-utility-bg-muted: #777777;

$color-utility-text-primary: #337ab7;
$color-utility-text-success: #3c763d;
$color-utility-text-info: #31708f;
$color-utility-text-warning: #8a6d3b;
$color-utility-text-danger: #a94442;
$color-utility-text-muted: #777777;

/*
 * Fonts
 */
$font-brand: "Tahoma", "Helvetica";
